.board {
    display: flex;
    flex-direction: column;
    width: 75vmin;
    height: 75vmin;
    outline: 10px solid #ccc;
}
.board > .row {
    display: flex;
    height: 100%;
}
.board > .row > .cell {
    width: 100%;
    background-color: #f8f8f8;
    /* outline: 1px solid red; */
}
.board > .row > .cell.black {
    background-color: #333;
}


/*
body {
    background-color: gray;
    width: 100%;
    }
    
    #board {
    margin-top: 2rem;
    margin-left: 10rem;
    width: 480px;
    }
    
    .piece-box {
    height: 60px;
    width: 60px;
    }
    
    .black-box {
    background-color: black;
    }
    
    .white-box {
    background-color: white;
    }
    
    .div-row {
    display: flex;
    }
    */